<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style_finish.css">
</head>
<body>
<h1> Spell check done for {{filename}} ! {{genre}}</h1>
<form action="http://localhost:3000/audio/{{filename}}+{{genre}}" method="POST">
    <input class="denoise" type="submit" value="Get Audio"> 
</form>
</body>
</html>